Repository AlgoLeadMe/AlgoLeadMe-10, pull requests merged in 2024-09, with the labels that each got.

#40 12-pu2rile
  pu2rile/README.md
  pu2rile/동적 프로그래밍/1학년.py
Labels: 리뷰 기다리는 중 🔥, pu2rile

#43 13-pu2rile
  pu2rile/README.md
  pu2rile/스택/.DS_Store
  pu2rile/스택/후위 표기식.c
  pu2rile/스택/후위 표기식.py
Labels: 리뷰 기다리는 중 🔥, pu2rile

#45 14-pu2rile
  .DS_Store
  pu2rile/트리/.DS_Store
  pu2rile/트리/이진 탐색 트리.c
Labels: 리뷰 기다리는 중 🔥, pu2rile

#48 15-pu2rile
  pu2rile/README.md
  pu2rile/트리/나무 탈출.py
Labels: 리뷰 기다리는 중 🔥, pu2rile

#41 12-oesnuj
  oesnuj/README.md
  oesnuj/재귀/1914.cpp
Labels: 리뷰 기다리는 중 🔥, oesnuj

#47 15-oesnuj
  oesnuj/README.md
  oesnuj/그리디/11501.js
Labels: 리뷰 기다리는 중 🔥, oesnuj

#51 16-pu2rile
  honggukang0623/.DS_Store
  pu2rile/.DS_Store
  pu2rile/README.md
  pu2rile/그리디 알고리즘/신입 사원.py
Labels: 리뷰 완료 ✔️, pu2rile

#50 16-oesnuj
  oesnuj/README.md
  oesnuj/구현/20207.cpp
Labels: 리뷰 완료 ✔️, oesnuj

#49 16-suhyun113
  suhyun113/README.md
  suhyun113/그리디/16-suhyun113.py
Labels: 리뷰 완료 ✔️, suhyun113
